<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="m-4">
    <%= f.label :name, class: 'font-bold' %><br />
    <%= f.text_field :name, class: "input input-sm input-bordered", autocomplete: "name", autofocus: true %>

  <div class="field">
    <%= f.label :bio, class: 'font-bold' %><br />
    <%= f.text_area :bio, class: "input input-sm input-bordered h-40 w-96 resize-y", placeholder: "自己紹介文を入力してください" %>
  </div>

  <div class="field">
    <%= f.label :email, class: 'font-bold' %><br />
    <%= f.email_field :email, class: "input input-sm input-bordered", autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: 'font-bold' %><br />
    <%= f.password_field :password, class: "input input-sm input-bordered", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'font-bold' %><br />
    <%= f.password_field :password_confirmation, class: "input input-sm input-bordered", autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.submit "更新", class: 'btn btn-sm btn-primary mt-2 mb-2' %>
  </div>
<% end %>

<div><%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-sm btn-error text-white mb-2' %></div>
<div class=" flex justify-center"><%= link_to "マイページに戻る", user_path(current_user), class: 'btn btn-sm btn-outline btn-primary mt-4' %></div>
