<div class="navbar bg-base-100 border-b border-primary h-24">
  <div class="flex justify-between items-center w-full">
    <div>
      <%= link_to 'Mutro', root_path, class: "btn btn-ghost normal-case text-2xl text-white font-black bg-gradient-to-r from-primary to-accent" %>
    </div>

    <% if user_signed_in? %>
      <div class="flex items-center gap-3">
        <%= link_to 'Release', new_playlist_path, class: "btn btn-sm border-amber-500 text-amber-500 bg-white hover:bg-amber-600 hover:text-white" %>
        <%= link_to new_releases_playlists_path, class: "font-bold text-primary hover:text-secondary" do %>
          <i class="fa-solid fa-compact-disc" style="color: #05a1ad;"></i> NEW RELEASES
        <% end %>
        <%= link_to root_path, class: "font-bold text-primary hover:text-secondary" do %>
          <i class="fa-solid fa-compact-disc" style="color: #05a1ad;"></i> ALL PLAYLISTS
        <% end %>
        <%= link_to my_playlists_path, class: "font-bold text-primary hover:text-secondary" do %>
        <i class="fa-solid fa-compact-disc" style="color: #05a1ad;"></i> MY PLAYLISTS
        <% end %>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 h-10 rounded-full bg-primary"></div>
          </label>
          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 border-primary rounded-box w-52">
            <li class="text-base font-bold text-primary">PLAYLISTS</li>
            <li class="text-primary"><%= link_to 'MY PLAYLISTS ', my_playlists_path %></li>
            <li class="text-primary"><%= link_to 'MY GOOD VIBES ', good_vibes_user_path(current_user) %></li>
            <li class="text-base font-bold text-primary">SETTINGS</li>
            <li><%= link_to 'MY PAGE', user_path(current_user), class: "text-primary" %></li>
            <li><%= link_to 'LOG OUT', destroy_user_session_path, data: { turbo_method: :delete }, class: "font-bold text-error" %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path, class: "btn btn-ghost btn-circle avatar" do %>
        <div class="avatar">
          <div class="w-10 h-10 rounded-full bg-error"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

