<div class="navbar bg-base-100 border-b border-primary h-24 w-full">
  <div class="flex items-center justify-between w-full">
    <div class="ml-4">
      <%= link_to image_tag('mutro_logo.png', width: 110), root_path %>
    </div>

    <% if user_signed_in? %>
      <div class="flex-1"></div>
      <div class="flex flex-col items-center gap-3 md:flex-row">
        <%= link_to 'Mutroの使い方', about_path, class: 'font-black text-primary' %>
        <%= link_to 'リリース', new_playlist_path, class: "btn btn-sm border-amber-500 text-amber-500 bg-white hover:bg-amber-600 hover:text-white" %>
      </div>
      <%= render'shared/dropdown_menu' %>
    <% else %>
      <div class="flex-1"></div>
      <div class="flex flex-col items-center gap-3 md:flex-row">
        <%= link_to 'Mutroの使い方', about_path, class: 'font-black text-primary' %>
        <%= link_to 'ログインはこちら', new_user_session_path, class: "btn btn-outline btn-error btn-sm mr-4" %>
      </div>
    <% end %>
  </div>
</div>
