<div class="container mx-auto px-4">
  <h1 class="my-8 border-b border-primary text-center text-xl font-bold text-primary">プレイリスト編集</h1>

  <%= form_with model: @playlist, url: playlist_path(@playlist), method: :patch, class: "mx-auto mb-4 w-full max-w-2xl rounded bg-white px-8 pt-6 pb-8 shadow-md" do |f| %>
    <div class="mb-4">
      <%= f.label :title, class: "mb-2 block text-lg font-bold text-gray-700" %>
      <%= f.text_field :title, required: true, class: "focus:shadow-outline w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none" %>
    </div>

    <div class="mb-6">
      <%= f.label :description, class: "mb-2 block text-lg font-bold text-gray-700" %>
      <%= f.text_area :description, required: true, class: "focus:shadow-outline mb-3 w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none", rows: 4 %>
    </div>

    <div class="tracks-list mt-4">
      <h2 class="mb-2 text-lg font-bold text-gray-700">トラック一覧</h2>
      <ul>
        <% @playlist.tracks.each do |track| %>
          <li class="mb-2 flex items-center justify-between rounded bg-gray-100 p-2">
            <span class="text-gray-800"><%= track.title %> - <%= track.artist %></span>
            <%= link_to '削除', playlist_track_path(track.id, playlist_id: @playlist.id), data: { turbo_method: :delete, turbo_confirm: 'この曲を削除しますか？' }, class: "btn btn-error text-white" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="mb-4">
      <%= f.label :mood, class: "mb-2 block text-lg font-bold text-gray-700" %>
      <% Mood.all.each do |mood| %>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text"><%= mood.name %></span>
            <%= f.radio_button :mood_id, mood.id, class: "radio #{mood_radio_color(mood.name)}", checked: @playlist.mood_id == mood.id %>
          </label>
        </div>
      <% end %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "更新", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
