<div class="pb-8">
  <%= turbo_frame_tag "search_form" do %>
    <%= render 'tracks/search_form' %>
  <% end %>
  <%= turbo_frame_tag "search_results" do %>
    <%= render 'tracks/search_results', tracks: @tracks %>
  <% end %>
</div>

<%= turbo_frame_tag 'flash_messages' do %>
  <%= render 'shared/flash' %>
<% end %>

<div class="flex justify-center items-start ml-4">
  <div class="w-full lg:w-1/3 xl:w-2/3 mx-8 bg-white text-primary rounded-lg shadow p-4 max-h-[74vh] overflow-y-auto">
    <%= render 'playlists/playlist_preview', playlist: @playlist %>
  </div>

  <div class="w-full lg:w-2/3 mx-8 bg-white rounded-lg shadow p-4 mb-4">
    <%= form_with model: @playlist, url: playlists_path, method: :post, class: "flex flex-col items-center" do |f| %>
      <div class="w-full text-center p-2">
        <%= f.label :title, class: "text-lg font-bold text-primary" %>
        <%= f.text_field :title, required: true, placeholder: "プレイリスト名は20文字まで", class: "form-control border-2 border-primary w-full p-2 rounded-lg" %>
      </div>

      <div class="w-full text-center p-2 mt-4">
        <%= f.label :description, class: "text-lg font-bold text-primary" %>
        <%= f.text_area :description, required: true, placeholder: "プレイリストを聴いてほしいシチュエーション、選んだ曲の思い出やアーティストへの思いを自由に綴ってください！",  class: "form-control w-full h-64 border-2 border-primary p-2 rounded-lg" %>
      </div>

      <div class="w-full text-center p-2 mt-4">
        <%= f.label :mood_id, class: "text-lg font-bold text-primary" %>
        <div class="flex flex-wrap justify-center">
          <% Mood.all.each do |mood| %>
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text"><%= mood.name %></span>
                <%= f.radio_button :mood_id, mood.id, class: "radio #{mood_radio_color(mood.name)}" %>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="w-full p-2 mt-4">
        <%= f.submit "Release a playlist!", class: "btn bg-gradient-to-r from-primary to-accent text-white py-2 px-4 text-lg w-full" %>
      </div>
    <% end %>
  </div>
</div>
