<div class="container mx-auto px-4">
  <h1 class="text-xl font-bold text-primary text-center border-b border-primary my-8">ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆè©³ç´°</h1>

  <div class="mb-6 text-slate-600">
    <div class="text-center mb-4">
      <p class="text-sm font-medium">Released by <%= @playlist.user.name %></p>
    </div>
    <h1 class="text-center text-3xl font-black mb-6"><%= @playlist.title %></h1>
    <%= simple_format(@playlist.description, {}, wrapper_tag: "p") %>
  </div>

  <div class="tracks text-slate-600">
    <% if @playlist.tracks.any? %>
      <h2 class="text-center text-xl font-bold mb-4">ãƒˆãƒ©ãƒƒã‚¯ä¸€è¦§</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @playlist.tracks.each do |track| %>
          <div class="track bg-white rounded-lg shadow p-4">
            <%= render 'playlists/track', track: track %>
            <p class="mt-2 text-center text-sm text-medium"><%= track.title %> - <%= track.artist %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>This playlist has no tracks yet.</p>
    <% end %>
  </div>
  <%= render partial: 'playlists/good_vibes_button', locals: { playlist: @playlist } %>
  <% if @playlist.user == current_user %>
      <%= link_to "https://twitter.com/share?url=#{playlist_url(@playlist)}&text=ðŸŽ‰ New playlist out now! ðŸŽ‰ %0aã€#{@playlist.title}ã€‘%0a %23Mutro%0a", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Share to X" do %>
        <i class="fa-brands fa-x-twitter fa-xl"></i>
      <% end %>
      <%= link_to 'ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆç·¨é›†', edit_playlist_path(@playlist), class: 'btn btn-primary m-4' %>
    <% if current_user == @playlist.user %>
      <%= link_to 'ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆã‚’å‰Šé™¤', playlist_path(@playlist), data: { turbo_method: :delete, turbo_confirm: 'ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆã‚’å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ' }, class: "btn btn-error text-white" %>
    <% end %>
  <% end %>
  <div class="flex justify-center mt-8">
    <%= link_to 'ãƒ—ãƒ¬ã‚¤ãƒªã‚¹ãƒˆä¸€è¦§ã¸æˆ»ã‚‹', root_path, class: 'btn btn-outline btn-primary rounded-lg' %>
  </div>
</div>

<div class="comments mt-8 text-slate-600">
  <h3 class="text-2xl font-bold mb-4">ã‚³ãƒ¡ãƒ³ãƒˆ</h3>
  <div class="space-y-4">
    <% @playlist.comments.each do |comment| %>
      <div class="p-4 bg-white rounded-lg shadow">
        <p class="font-bold text-primary mb-2"><%= comment.user.name %></p>
        <div class="chat chat-start">
          <div class="chat-bubble bg-gradient-to-r from-primary to-accent text-white"><%= simple_format(comment.content) %></div>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="mt-6 bg-white p-6 rounded-lg shadow">
      <%= form_with(model: [ @playlist, Comment.new ], class: "space-y-4") do |form| %>
        <%= form.text_area :content, rows: 5, placeholder: "ã‚³ãƒ¡ãƒ³ãƒˆã‚’å…¥åŠ›ã—ã¦ãã ã•ã„", required: true, class: "w-full p-2 border border-gray-300 rounded-lg focus:ring-primary focus:border-primary" %>
        <%= form.submit "ã‚³ãƒ¡ãƒ³ãƒˆã™ã‚‹", class: "btn btn-outline btn-primary py-2 px-2" %>
      <% end %>
    </div>
  <% end %>
</div>

