<!DOCTYPE html>
<html data-theme="mytheme">
  <head>
    <title>Mutro</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= display_meta_tags(default_meta_tags) %>

    <script src="https://kit.fontawesome.com/b6cb3fd258.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G6YZ6YZJ30"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G6YZ6YZJ30');
    </script>
    <script>
      var searchTracksPath = "<%= search_tracks_path(format: :json) %>";
    </script>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
             console.error('Service Worker registration failed:', error);
         });
      });
    }
  </script>
</html>
